/Desafio6/node_modules
/Desafio7/node_modules
/Desafio8/node_modules
/Desafio9/node_modules
/Desafio10/node_modules
/Desafio11/node_modules
/Desafio11/.env
/Desafio12/node_modules
/Desafio13/.env
/Desafio13/node_modules
/Desafio13/.env
/Desafio14/node_modules
/Desafio14/.env
/Proyecto_final_3/node_modules
/Proyecto_final_3/.env